@{
    Layout = "_Layout";
}

<div class="сontactbody" property="content:encoded">
    <h2>Контакты</h2>
    <p>Портал поиска поставщиков "Поставщик.рф" предоставляет возможность бесплатно разместить информацию о поставщиках и оптовых покупателях по всему миру.</p>
    <p>По любым вопросам вы можете связаться с нами по электронной почте</p>
    <p><strong>Служба поддержки пользователей:</strong>&nbsp;<a class ="link" href="mailto:dmitr.nazarow2016@yandex.ru">Тех.поддержка</a></p>
    <p><strong>Предложения и пожелания по сайту:</strong>&nbsp;<a class ="link" href="mailto:dmitr.nazarow2016@yandex.ru">Предложения</a></p>
    <p><strong>Предложения по сотрудничеству и рекламе:</strong> <a class ="link" href="mailto:dmitr.nazarow2016@yandex.ru">Реклама</a></p>
    <p><strong>Telegram:</strong> postavshikrf</p>
</div>
